[Desktop Entry]
Name=BillardGL
Comment=OpenGL pool billiard simulation
Exec=BillardGL
Icon=BillardGL
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
